bin
*.pyc
my_env/*
!my_env/lib/

my_env/lib/*
!my_env/lib/python3.4/

my_env/lib/python3.4/site-packages/*
!my_env/lib/python3.4/site-packages/mezzanine/
my_env/lib/python3.4/site-packages/mezzanine/*
!my_env/lib/python3.4/site-packages/mezzanine/core/
my_env/lib/python3.4/site-packages/mezzanine/core/*
!my_env/lib/python3.4/site-packages/mezzanine/core/templates
my_env/lib/python3.4/site-packages/mezzanine/core/templates/*
!my_env/lib/python3.4/site-packages/mezzanine/core/templates/base.html
!my_env/lib/python3.4/site-packages/mezzanine/core/templates/index.html

!my_env/lib/python3.4/site-packages/grappelli_safe/
my_env/lib/python3.4/site-packages/grappelli_safe/*
!my_env/lib/python3.4/site-packages/grappelli_safe/templates/

my_env/lib/python3.4/site-packages/grappelli_safe/templates/registration
my_env/lib/python3.4/site-packages/grappelli_safe/templates/admin/*
!my_env/lib/python3.4/site-packages/grappelli_safe/templates/admin/base.html

!my_env/lib/python3.4/site-packages/grappelli_safe/templates/admin/includes_grappelli/
my_env/lib/python3.4/site-packages/grappelli_safe/templates/admin/includes_grappelli/*
!my_env/lib/python3.4/site-packages/grappelli_safe/templates/admin/includes_grappelli/header.html

!my_env/lib/python3.4/site-packages/pageimages/
my_env/lib/python3.4/site-packages/pageimages/*
!my_env/lib/python3.4/site-packages/pageimages/templatetags/
my_env/lib/python3.4/site-packages/pageimages/templatetags/*
!my_env/lib/python3.4/site-packages/pageimages/templatetags/pageimage_tags.py
